[Unit]

Description=Telegram Crypto Bot

After=multi-user.target

[Service]

WorkingDirectory=/home/reedniv/cryptoconvert

User=eddy

Group=eddy

ExecStart=/usr/bin/python3.6 /home/reedniv/cryptoconvert/main.py

Type=idle

Restart=on-failure

RestartSec=15

TimeoutStartSec=15

[Install]

WantedBy=multi-user.target
